<strong>Olá {{organizer}}</strong>
<p>Há uma nova inscrição no seu meetup: {{meetup}}</p>
<p>
  <strong>Nome:</strong> {{user}}<br />
  <strong>Email:</strong> {{email}} <br />
  <strong>Meetup:</strong> {{meetup}} <br />
  <strong>Data:</strong> {{date}} <br />
  <br />
</p>
